name: Testing GitHub Actions

on:
    push: 
        branches:
          - main
        
        
jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Say Hello
        run: echo "Hello World GitHub Actions!"

      - name: Checkout Repository
        uses: actions/checkout@v6
      
      - name: List all the files
        run: ls -la
