name: Testing GitHub Actions

on:
    push: 
        branches:
          - main
        
        
jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Say Hello
        run: echo "Hello World GitHub Actions!"
